<template>
  <div id="app">
    <form method="POST" @submit.prevent="submit" enctype="multipart/form-data">
      <input v-model="text" type="text" class="text">
      <p></p>
      <input v-model="caption" type="text" class="text_for_photo">
      <input multiple ref="file" type="file" class="photo" name="photo">
      <button type="submit" class="send" >Отправить</button>
    </form>
  </div>
</template>

<script>

export default {
  name: 'App',

 data() {
    return{
      caption: "",
      photo: "",
      text:"",
      token: "5768293437:AAGZTjynjB62cjw-vb0y9s0ib3V5GbbOHos",
      chatId: 802389735
    }
  },


  methods: {





    submit() {
      let form = new FormData();
      form.append("photo", this.$refs.file.files[0]);
      form.append("caption", this.caption);
      if(this.$refs.file.files[0]){
        this.$http.post(`https://api.telegram.org/bot${this.token}/sendPhoto?chat_id=${this.chatId}`, form)
      };
      if(this.text){
        this.$http.post(`https://api.telegram.org/bot${this.token}/sendMessage?chat_id=${this.chatId}&text=${this.text}`)
      };


    }
  }
}
</script>

<style lang="scss">

</style>

